name: Build Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - app: redis
            version: "8.4"
            dockerfile: redis/8.4/debian-12/Dockerfile
            context: redis/8.4/debian-12
            tag: bitali-8.4

          - app: redis-sentinel
            version: "8.4"
            dockerfile: redis-sentinel/8.4/debian-12/Dockerfile
            context: redis-sentinel/8.4/debian-12
            tag: bitali-8.4

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/bitali/${{ matrix.app}}:${{ matrix.tag }}

